.btn {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background-color: white;
    vertical-align: middle;
    color: $blue;
    border: 1px solid $blue;
    border-radius: 0.25rem;
    font-family: $Regular;
    font-size: 1rem;
    padding: 1rem 2rem;
    text-transform: none;
    text-shadow: none;
    text-align: center;
    text-decoration: none;
    user-select: none;
    transition-property: color, background-color, border-color, box-shadow, transform;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;

    @media (hover: hover) {
        &:hover {
            background-color: rgba($blue, 0.25);
            border-color: rgba($blue, 0.25);
        }
    }
    &:focus {
        outline: $blue;
    }
}
