.news {
	&_title {
		position: relative;
		top: -3em;
	}
}
.card {
	height: 100%;
	border: 1px solid $blue;
	border-radius: 1em;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;

	&_img {
	}
	&_body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		height: 100%;
		padding: 2em;
	}
	&_date {
		margin-bottom: 1em;
		display: flex;
		&-day {
			font-size: 2.25em;
			line-height: 1;
			color: $gray;
			margin-right: 0.1em;
		}
		&-others {
			font-size: 0.94em;
			font-family: $Bold;
			font-weight: 600;
			line-height: 1.1;
			color: $gray;
		}
	}
	&_title {
		margin-bottom: 1rem;
		color: $blue;
		font-size: 1.375em;
	}
	&_text {
		font-size: 1.25em;
		margin-bottom: 2.5em;
	}
	&_footnote {
		display: inline-block;
		width: max-content;
		margin-top: auto;
		padding: 0.4em 1em;
		background-color: $sky;
		border-radius: 3.125em;
		font-size: 0.875em;
	}
}
