.text {
    &-m {
        font-size: 1.25em;
    }
    &-l {
        font-size: 1.375em;
    }
    &-ms {
        font-size: 1em;
    }
    &-s {
        font-size: 0.875em;
    }
    &-gray {
        color: $gray;
    }
    &-blue {
        color: $blue;
    }
    &-bold {
        font-family: "Nunito-Bold";
        font-weight: 600;
    }
}
.h {
    &1 {
        font-size: 3em;
    }
}
